/*--------------------------------------------------------------
# Guten - Mobile Menu
--------------------------------------------------------------*/
.header-menu-button {
    display: block;
    background: none !important;
    border: 0;
    color: inherit;
    outline: none;
}
#main-menu > div,
.main-navigation ul {
    display: block !important;
}
#main-menu {
    color: #FFFFFF;
    position: fixed;
    top: 0;
    right: -280px;
    width: 280px;
    max-width: 100%;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 20px 30px 20px;
    background: #000000;
    z-index: 99998;
    height: 100%;
    overflow: auto;
    transition: right 0.4s ease 0s;
}
.main-navigation li {
    display: block !important;
    float: none !important;
    box-shadow: none !important;
}
.main-navigation li.guten-button {
    padding: 0 15px;
}
.main-navigation li a {
    display: block;
    float: none;
    padding: 10px 0 !important;
    /* color: #C5C5C5 !important; */
    box-shadow: none !important;
    text-align: left;
}
.main-navigation ul ul {
    box-shadow: none !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    float: none !important;
    background-color: rgba(255, 255, 255, 0.12) !important;
    padding: 0;
    margin: 0;
}
.main-navigation.guten-nav-accessoff ul ul {
    display: none !important;
}
.main-navigation ul ul li a {
    background: none !important;
    box-shadow: none !important;
    padding: 10px !important;
    width: auto;
}
.main-navigation ul ul ul li a {
    padding-left: 22px !important;
}
.main-navigation ul ul ul ul li a {
    padding-left: 30px !important;
}
.main-navigation ul ul ul ul ul li a {
    padding-left: 38px !important;
}
.main-navigation ul#primary-menu > li > ul,
.main-navigation #primary-menu > ul > li > ul {
    margin: 0 0 15px;
}
.main-navigation.guten-nav-style-underlined li a,
.main-navigation.guten-nav-style-solid li a {
    background: none !important;
    box-shadow: none !important;
}
.main-navigation.guten-nav-style-blocks li a span.nav-span-block {
    background: none !important;
    padding: 0;
}
.main-navigation.guten-nav-style-blocks ul ul:before {
    display: none !important;
}
#primary-menu {
    display: block;
    float: none;
}
.main-menu-close {
    display: block;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: #898989;
    text-align: center;
    padding: 0 8px 0 12px;
    height: 40px;
    line-height: 38px;
    cursor: pointer;
}
.main-menu-close .fa-angle-left {
    position: relative;
    left: -6px;
}
.main-navigation.guten-nav-accesson .menu-dropdown-btn {
    display: none !important;
}
.main-navigation.guten-nav-accessoff .menu-dropdown-btn {
    display: block !important;
}
.main-navigation .open-page-item > ul.children,
.main-navigation .open-page-item > ul.sub-menu {
    display: block !important;
}

/*--------------------------------------
# Header Layout One
----------------------------------------*/
.guten-header-one .header-menu-button {
    display: block;
    padding: 18px 100px 20px 20px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}
.site-header-switch.guten-header-one .header-menu-button {
    padding: 15px 2px 16px 100px;
}
.content-boxed .site-header-switch.guten-header-one .header-menu-button {
    padding: 15px 15px 16px 100px;
}
.guten-header-one .header-menu-button i {
    font-size: 11px;
    vertical-align: middle;
}
.guten-header-one .header-menu-button span {
    vertical-align: middle;
    margin: 0 0 0 6px;
}
.guten-header-one .header-cart {
    position: absolute;
    top: 15px;
    left: 10px;
}
.guten-header-one a.header-cart-contents {
    padding: 8px 10px !important;
    color: #FFF !important;
}

body.admin-bar .guten-header-one #main-menu {
    padding: 87px 20px 30px 20px;
}
body.admin-bar .guten-header-one .main-menu-close {
    top: 45px;
}
body.admin-bar .guten-header-one .header-cart {
    top: 49px;
}

/*--------------------------------------
# Header Layout Two
----------------------------------------*/
.guten-header-two .header-menu-button {
    display: block;
    padding: 15px 100px 16px 15px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}
.guten-header-two .header-menu-button i {
    font-size: 11px;
    vertical-align: middle;
}
.guten-header-two .header-menu-button span {
    vertical-align: middle;
    margin: 0 0 0 6px;
}

body.admin-bar .guten-header-two #main-menu {
    padding: 87px 20px 30px 20px;
}
body.admin-bar .guten-header-two .main-menu-close {
    top: 45px;
}

/*--------------------------------------
# Header Layout Three
----------------------------------------*/
.guten-header-three .header-menu-button {
    display: block;
    padding: 15px 15px 16px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.guten-header-three.site-header-switch .header-menu-button {
    padding: 15px 10px 16px;
}
.guten-header-three .header-menu-button i {
    font-size: 11px;
    vertical-align: middle;
}
.guten-header-three .header-menu-button span {
    vertical-align: middle;
    margin: 0 0 0 6px;
}

body.admin-bar .guten-header-three #main-menu {
    padding: 87px 20px 30px 20px;
}
body.admin-bar .guten-header-three .main-menu-close {
    top: 45px;
}

/*--------------------------------------
# Header Layout Four
----------------------------------------*/
.guten-header-four .header-menu-button {
    display: block;
    padding: 42px 10px 43px 40px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.guten-header-four.site-header-switch .header-menu-button {
    padding: 42px 40px 43px 10px;
}
.guten-header-four .header-menu-button i {
    font-size: 11px;
    vertical-align: middle;
}
.guten-header-four .header-menu-button span {
    vertical-align: middle;
    margin: 0 0 0 6px;
}

body.admin-bar .guten-header-four #main-menu {
    padding: 87px 20px 30px 20px;
}
body.admin-bar .guten-header-four .main-menu-close {
    top: 45px;
}

/*--------------------------------------
# Header Layout Five
----------------------------------------*/
.guten-header-five .header-menu-button {
    display: block;
    padding: 10px 15px 20px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}
.guten-header-five.site-header-switch .header-menu-button {
    padding: 10px 15px 20px 5px;
}
.guten-header-five .header-menu-button i {
    font-size: 11px;
    vertical-align: middle;
}
.guten-header-five .header-menu-button span {
    vertical-align: middle;
    margin: 0 0 0 6px;
}

body.admin-bar .guten-header-five #main-menu {
    padding: 87px 20px 30px 20px;
}
body.admin-bar .guten-header-five .main-menu-close {
    top: 45px;
}

/*--------------------------------------
# Header Layout Six
----------------------------------------*/
.guten-header-six .header-menu-button {
    display: block;
    padding: 15px 20px 16px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.guten-header-six.site-header-switch .header-menu-button {
    padding: 15px 0 16px 80px;
}
.guten-header-six .header-menu-button i {
    font-size: 11px;
    vertical-align: middle;
}
.guten-header-six .header-menu-button span {
    vertical-align: middle;
    margin: 0 0 0 6px;
}
.guten-header-six .main-navigation {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08) inset, 0 1px 0 rgba(0, 0, 0, 0.08) inset;
}
.guten-header-six .header-cart {
    position: absolute;
    top: 15px;
    left: 10px;
}
.guten-header-six a.header-cart-contents {
    padding: 8px 10px !important;
    color: #FFF !important;
}

body.admin-bar .guten-header-six #main-menu {
    padding: 87px 20px 30px 20px;
}
body.admin-bar .guten-header-six .main-menu-close {
    top: 45px;
}
body.admin-bar .guten-header-six .header-cart {
    top: 49px;
}

/*--------------------------------------
# Header Layout Default
----------------------------------------*/
.guten-header-default .header-menu-button {
    display: block;
    padding: 42px 10px 43px 60px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}
.guten-header-default.site-header-switch .header-menu-button {
    padding: 42px 10px 43px 10px;
}
.guten-header-default .header-menu-button i {
    font-size: 11px;
    vertical-align: middle;
}
.guten-header-default .header-menu-button span {
    vertical-align: middle;
    margin: 0 0 0 6px;
}

body.admin-bar .guten-header-default #main-menu {
    padding: 87px 20px 30px 20px;
}
body.admin-bar .guten-header-default .main-menu-close {
    top: 45px;
}

/*--------------------------------------
# Header Layout Seven
----------------------------------------*/
.guten-header-seven .header-menu-button {
    display: block;
    padding: 42px 10px 43px 60px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}
.guten-header-seven.site-header-switch .header-menu-button {
    padding: 42px 10px 43px 40px;
}
.guten-header-seven .header-menu-button i {
    font-size: 11px;
    vertical-align: middle;
}
.guten-header-seven .header-menu-button span {
    vertical-align: middle;
    margin: 0 0 0 6px;
}

body.admin-bar .guten-header-seven #main-menu {
    padding: 87px 20px 30px 20px;
}
body.admin-bar .guten-header-seven .main-menu-close {
    top: 45px;
}

/*--------------------------------------
# Header Layout Eight
----------------------------------------*/
.guten-header-eight .site-header-top-left {
    float: none;
}
.guten-header-eight .header-menu-button {
    display: block;
    padding: 15px 15px 16px 15px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.guten-header-eight .header-menu-button i {
    font-size: 11px;
    vertical-align: middle;
}
.guten-header-eight .header-menu-button span {
    vertical-align: middle;
    margin: 0 0 0 6px;
}

body.admin-bar .guten-header-eight #main-menu {
    padding: 87px 20px 30px 20px;
}
body.admin-bar .guten-header-eight .main-menu-close {
    top: 45px;
}

/*--------------------------------------
# Header Layout Nine
----------------------------------------*/
.guten-header-nine .header-menu-button {
    display: block;
    padding: 42px 10px 43px 40px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}
.guten-header-nine.site-header-switch .header-menu-button {
    padding: 42px 40px 43px 10px;
}
.guten-header-nine .header-menu-button i {
    font-size: 11px;
    vertical-align: middle;
}
.guten-header-nine .header-menu-button span {
    vertical-align: middle;
    margin: 0 0 0 6px;
}

body.admin-bar .guten-header-nine #main-menu {
    padding: 87px 20px 30px 20px;
}
body.admin-bar .guten-header-nine .main-menu-close {
    top: 45px;
}

/* -- Menu Click -- */
body.show-main-menu #main-menu {
    right: 0px !important;
}
body.show-main-menu #page {
    right: 280px !important;
}
body.show-main-menu .side-aligned-social.guten-side-social-square,
body.show-main-menu .side-aligned-social.guten-side-social-round {
    right: 280px;
}